<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="dnGREP.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="dnGREP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<extensions>
			<add assembly="NLog.XmlLayout"/>
		</extensions>
		<targets>
			<target name="file" xsi:type="File" fileName="${basedir}Grep_Error_Log.xml">
				<layout xsi:type="SimpleLayout" text="${xml}"/>
			</target>
			<target name="eventlog" xsi:type="EventLog" source="dnGREP" log="Application">
				<layout xsi:type="SimpleLayout" text="${xml}"/>
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Error" writeTo="file,eventlog"/>
		</rules>
	</nlog>
	<appSettings>
	</appSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
  <dnGREP.WPF.Properties.Settings>
   <setting name="Top" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="Left" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="Width" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="Height" serializeAs="String">
    <value>500</value>
   </setting>
  </dnGREP.WPF.Properties.Settings>
 </userSettings>
</configuration>
