<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dnGREP.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="dnGREP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.XmlLayout" />
    </extensions>
    <variable name="LogDir" value="${specialfolder:folder=ApplicationData}\dnGrep\logs" />
    <targets>
      <target name="file" xsi:type="File" fileName="${LogDir}\Grep_Error_Log.xml" archiveFileName="${LogDir}\Grep_Error_Log.{#####}.xml" archiveAboveSize="1048576" archiveNumbering="Sequence" concurrentWrites="true" encoding="utf-8">
        <layout xsi:type="SimpleLayout" text="${xml}" />
      </target>
      <target name="eventlog" xsi:type="EventLog" source="dnGREP" log="Application">
        <layout xsi:type="SimpleLayout" text="${xml}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="file,eventlog" />
    </rules>
  </nlog>
  <appSettings>
  </appSettings>
  <userSettings>
    <dnGREP.WPF.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="PreviewBounds" serializeAs="String">
        <value>1000, 100, 600, 800</value>
      </setting>
      <setting name="MainFormExBounds" serializeAs="String">
        <value>100, 100, 900, 800</value>
      </setting>
    </dnGREP.WPF.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
