<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File" fileName="${gdc:item=logDir}\Grep_Error_Log.xml" archiveFileName="${gdc:item=logDir}\Grep_Error_Log.{#####}.xml" archiveAboveSize="1048576" archiveNumbering="Sequence" concurrentWrites="true" encoding="utf-8">
      <layout xsi:type="XmlLayout" IndentXml="true" elementName='logevent'>
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}"/>
        <attribute name="logger" layout="${logger}"/>
        <element name="message" value="${message}" />
        <element name="exception" value="${exception:format=ToString}" />
      </layout>
    </target>
    <target name="eventlog" xsi:type="EventLog" source="dnGREP" log="Application"
            layout="[${logger}] ${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="eventlog" />
  </rules>

</nlog>
