<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog"         type="NLog.Config.ConfigSectionHandler, NLog" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="dnGREP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<extensions>
			<add assembly="NLog.XmlLayout" />
		</extensions>
		<targets>
			<target name="file" xsi:type="File" fileName="${basedir}Grep_Error_Log.xml">
				<layout xsi:type="SimpleLayout" text="${xml}" />
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Error" writeTo="file" />
		</rules>
	</nlog>
	<appSettings>
	</appSettings>
 <userSettings>
  <dnGREP.Properties.Settings>
   <setting name="SearchFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="SearchFor" serializeAs="String">
    <value />
   </setting>
   <setting name="ReplaceWith" serializeAs="String">
    <value />
   </setting>
   <setting name="FilePattern" serializeAs="String">
    <value />
   </setting>
   <setting name="IncludeSubfolder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IncludeHidden" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SearchRegex" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SearchText" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FilterAllSizes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FilterSpecificSize" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SizeFrom" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SizeTo" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="CustomEditor" serializeAs="String">
    <value />
   </setting>
   <setting name="UseCustomEditor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CaseSensitive" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Multiline" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CustomEditorArgs" serializeAs="String">
    <value />
   </setting>
   <setting name="LastCheckedVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="UpdateCheckInterval" serializeAs="String">
    <value />
   </setting>
   <setting name="EnableUpdateChecking" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowFilePathInResults" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SearchXPath" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FileSearchRegex" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FileSearchAsterisk" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowLinesInContext" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ContextLinesBefore" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="ContextLinesAfter" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="AllowSearchingForFileNamePattern" serializeAs="String">
    <value>False</value>
   </setting>
  </dnGREP.Properties.Settings>
 </userSettings>
</configuration>