version: 3.2.{build}.0
branches:
  only:
  - master
  - DraftPrereleaseToGitHub
skip_tags: true
image: Visual Studio 2022
configuration:
- Debug
- Release
platform:
- x86
- x64
assembly_info:
  patch: true
  file: AssemblyVersionCommon.cs
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
- cmd: nuget restore
build:
  project: dnGREP.WPF.sln
  parallel: true
  verbosity: normal
after_build:
  - 7z a %APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\%PlATFORM%\dnGrep.%APPVEYOR_BUILD_VERSION%.zip %APPVEYOR_BUILD_FOLDER%\dnGREP.WPF\bin\%CONFIGURATION%\* -xr!*.pdb
  - 7z d %APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\%PlATFORM%\dnGrep.%APPVEYOR_BUILD_VERSION%.zip -r- dnGREP.Engines.MsWord.plugin
  - 7z d %APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\%PlATFORM%\dnGrep.%APPVEYOR_BUILD_VERSION%.zip -r- dnGREP.Engines.OpenXml.plugin
  - 7z d %APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\%PlATFORM%\dnGrep.%APPVEYOR_BUILD_VERSION%.zip -r- dnGREP.Engines.Pdf.plugin
  - 7z d %APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\%PlATFORM%\dnGrep.%APPVEYOR_BUILD_VERSION%.zip -r- pdftotext.exe
  - 7z d %APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\%PlATFORM%\dnGrep.%APPVEYOR_BUILD_VERSION%.zip -r- pdf-readme
  - 7z d %APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\%PlATFORM%\dnGrep.%APPVEYOR_BUILD_VERSION%.zip -r- word-readme
  - 7z d %APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\%PlATFORM%\dnGrep.%APPVEYOR_BUILD_VERSION%.zip -r- ICSharpCode.AvalonEdit.xml
artifacts:
- path: Release\x86\*.msi
  name: 32-bit MSI
- path: Release\x64\*.msi
  name: 64-bit MSI
- path: Release\x64\*.zip
  name: Portable ZIP
deploy:
- provider: Webhook
  url: https://app.signpath.io/API/v1/736ab30b-dc3e-41ee-800d-c5674d702ed8/Integrations/AppVeyor?ProjectSlug=dnGrep&SigningPolicySlug=release-signing
  authorization:
     secure: +b4UCV2LUyweG3/0jfhRHXzKYGdSbwb4ZZ2roGLdbuIuu3tGHNZppkiVSCBEHRTtoBnhI7K+j0vuRmRhUcMkrQ==
  on:
    branch: DraftPrereleaseToGitHub
    configuration: Release
- provider: GitHub
  tag: v$(appveyor_build_version)
  release: v$(appveyor_build_version)
  auth_token:
    secure: q0bGZDcjkoPwfHqzHbftJAHUR2q/I0dQIJCP5uAX2wjwzDsZS77IFSc26XFaD1pA
  draft: true
  on:
    branch: DraftPrereleaseToGitHub
    configuration: Release
  description: |
    [![$(APPVEYOR_REPO_TAG_NAME)](https://img.shields.io/github/downloads/$(APPVEYOR_REPO_NAME)/$(APPVEYOR_REPO_TAG_NAME)/total.svg)](https://github.com/$(APPVEYOR_REPO_NAME)/releases/tag/$(APPVEYOR_REPO_TAG_NAME))
    
    ## Changes in this release:


    ### Checksum information

    Name: 
    SHA256: 

    Name: 
    SHA256: 

    Free code signing provided by [SignPath.io](https://signpath.io/), certificate by [SignPath Foundation](https://signpath.org/).

