<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <!-- Adding variable -->
  <?include ..\Variables.wxi ?>

  <?if $(var.Platform) = x64 ?>
    <?define App.PlatformShort="64" ?>
  <?else?>
    <?define App.PlatformShort="32" ?>
  <?endif ?>
  
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="cmp4F755EB8AEA654DE0F6FB783BD274E79" Guid="{293480D3-64A1-4D5D-A953-4C3F6694BC52}">
        <File Id="fil034BCFAE6F96321DDDE7EE6FAD15946A" KeyPath="yes" Source="$(var.dnGREP.Common.TargetDir)\dnGREP.Common.dll" >
          <netfx:NativeImage Id="ngen_dnGREP.Common.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmpD9FA0B07237DE16A4585D46BED20E933" Guid="{F9C505AB-495B-44F9-A774-5F5946B9E8C9}">
        <File Id="filED998F02E8D47F0905A9464D56B0F77D" KeyPath="yes" Source="$(var.dnGREP.Common.UI.TargetDir)\dnGREP.Common.UI.dll" >
          <netfx:NativeImage Id="ngen_dnGREP.Common.UI.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp5D64364BE848D8D880558DFAFA0DE81C" Guid="{A053CA7D-4AA0-4D90-AB08-2ACF54D0A9EC}">
        <File Id="fil0A2118AB81362AE13EE6DDBA78E994BC" KeyPath="yes" Source="$(var.dnGREP.Engines.TargetDir)\dnGREP.Engines.dll" >
          <netfx:NativeImage Id="ngen_dnGREP.Engines.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmpE75E380769873171E1689F576B0BBBD1" Guid="{B7C5DBF9-8740-4677-8D55-E9C01BF58028}">
        <File Id="filE4BA9060B65A733C63D86942A6474C5E" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\dnGREP.exe" >
          <netfx:NativeImage Id="ngen_dnGREP.exe" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp3C0B9E685307149FAB49326CFDE9664B" Guid="{8670B4D7-22A8-4204-BD7C-74B331677E44}">
        <File Id="fil9A87CBB83F920A2DCE4E2100C929412F" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\dnGREP.exe.config" />
      </Component>
      
      <Component Id="cmpD4888A65714D466980CC2FDDE5C5CBE0" Guid="{AEFA748D-9B01-45A4-913B-49ED0E435DBA}">
        <File Id="fil54C0F2C082F04A4082A00120E15B872C" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\AlphaFS.dll" >
          <netfx:NativeImage Id="ngen_AlphaFS.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp75D49E08A41A489AA6863E3C25D5FDA5" Guid="{A2875238-4A08-48F9-8FF1-31BA88D48C80}">
        <File Id="filA804AD15B1CD497CB618C6EBDD22719D" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\DockFloat.dll" >
          <netfx:NativeImage Id="ngen_DockFloat.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp0E16CB47C3F6B22E2FFDD2CC515AD1C8" Guid="{499E357F-9822-4945-A800-82BF6979E072}">
        <File Id="fil6D3D5546417727749907FC9E19D97FF8" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\ICSharpCode.AvalonEdit.dll" >
          <netfx:NativeImage Id="ngen_ICSharpCode.AvalonEdit.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp0459596434A34BA899AD1B009417DEEB" Guid="{6F88374E-BF90-4B91-8F7C-97B5D72E108F}">
        <File Id="fil32F44C517B3F47268E1399A302DA7F90" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\Newtonsoft.Json.dll" >
          <netfx:NativeImage Id="ngen_Newtonsoft.Json.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp770B497917674F316826C902746C0409" Guid="{C4E32F77-F28D-468F-8F04-A0F508915218}">
        <File Id="filB9D0C89E2BE03F54B6210850B37C7B82" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\NLog.dll" >
          <netfx:NativeImage Id="ngen_NLog.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp63940A2343725017B4AC8FB8CA506996" Guid="{FCD0E208-39EF-4682-84B6-602CF99CFC83}">
        <File Id="filC4FC895A31BBFCC8353F9AA5703B7601" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\NLog.XmlLayout.dll" >
          <netfx:NativeImage Id="ngen_NLog.XmlLayout.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp10B3F70BED274CCC836FFC1BB5B515F8" Guid="{42E05F1E-9EE2-4385-9A67-5FD4699FC273}">
        <File Id="filAD3747C57F2547AE986D06DF7B4E8C17" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\WpfScreenHelper.dll" >
          <netfx:NativeImage Id="ngen_WpfScreenHelper.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp7DD353A5178A4A3EAE13CB71CD8CEAE2" Guid="{0384FEB4-AF1A-414A-BAA6-4A5CB2BBF9C7}">
        <File Id="fil6325F98DBB79430AB5675F6F8473FECC" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\dnGREP.Everything.dll" >
          <netfx:NativeImage Id="ngen_dnGREP.Everything.dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
      <Component Id="cmp2026EEE4D24E41B4BF43B79B16CE7A4E" Guid="{392076A3-06CF-4212-941B-DD82FB72075D}">
        <File Id="filA5A20558D688414DA4A216589F40877A" KeyPath="yes" Source="$(var.dnGREP.WPF.TargetDir)\Everything$(var.App.PlatformShort).dll" >
          <netfx:NativeImage Id="ngen_Everything$(var.App.PlatformShort).dll" Platform="$(var.NGenPlatform)" Priority="0" AppBaseDirectory="INSTALLDIR"/>
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="dnGREPAppFiles">
      <ComponentRef Id="cmp4F755EB8AEA654DE0F6FB783BD274E79" />
      <ComponentRef Id="cmpD9FA0B07237DE16A4585D46BED20E933" />
      <ComponentRef Id="cmp5D64364BE848D8D880558DFAFA0DE81C" />
      <ComponentRef Id="cmpE75E380769873171E1689F576B0BBBD1" />
      <ComponentRef Id="cmp3C0B9E685307149FAB49326CFDE9664B" />
      <ComponentRef Id="cmpD4888A65714D466980CC2FDDE5C5CBE0" />
      <ComponentRef Id="cmp75D49E08A41A489AA6863E3C25D5FDA5" />
      <ComponentRef Id="cmp0E16CB47C3F6B22E2FFDD2CC515AD1C8" />
      <ComponentRef Id="cmp0459596434A34BA899AD1B009417DEEB" />
      <ComponentRef Id="cmp770B497917674F316826C902746C0409" />
      <ComponentRef Id="cmp63940A2343725017B4AC8FB8CA506996" />
      <ComponentRef Id="cmp10B3F70BED274CCC836FFC1BB5B515F8" />
      <ComponentRef Id="cmp7DD353A5178A4A3EAE13CB71CD8CEAE2" />
      <ComponentRef Id="cmp2026EEE4D24E41B4BF43B79B16CE7A4E" />
    </ComponentGroup>
  </Fragment>
</Wix>