<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PluginsDir">
            <Component Id="cmp1D2272A0E3127A92C4AAA52640F7182F" Guid="{A51AB51B-8741-4646-A9E9-D7E2B62F9352}">
                <File Id="fil984E2E47F22CA8F9300129896E065319" KeyPath="yes" Source="!(wix.SourcePathWord)\dnGREP.Engines.MsWord.plugin" />
            </Component>
            <Directory Id="dir0DED0F8EF6A984DA4ADC58A4C00790CB" Name="MsWordSearch">
                <Component Id="cmp25C874C4477EDD1EC4D7473B66EAF613" Guid="{774F7755-999C-4427-8539-906BCC2BB2DF}">
                    <File Id="filAD1444D2B53F268F7F7FA38B4335E7AF" KeyPath="yes" Source="!(wix.SourcePathWord)\MsWordSearch\dnGREP.Engines.Word.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="dnGREPPluginFilesWord">
            <ComponentRef Id="cmp1D2272A0E3127A92C4AAA52640F7182F" />
            <ComponentRef Id="cmp25C874C4477EDD1EC4D7473B66EAF613" />
        </ComponentGroup>
    </Fragment>
</Wix>