<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PluginsDir">
            <Component Id="cmp5E7189C83C592884CED821C069CA48F5" Guid="{2390C2B1-22CB-49A5-B86A-1C7B39D060A5}">
                <File Id="filE6816C5B3D60557F7EFA46D07B60383B" KeyPath="yes" Source="!(wix.SourcePathArchive)\dnGREP.Engines.Archive.plugin" />
            </Component>
            <Directory Id="dirC3F7CB3FDF58AF6EC0C27403925EFDB4" Name="ArchiveSearch">
                <Component Id="cmp076536C5D88900C40C1A61CB5902CCD6" Guid="{812EAD54-66D1-41D5-BCDA-E1F7DE8D0561}">
                    <File Id="filB6B9C08742F4F91E23D2367C46744F87" KeyPath="yes" Source="!(wix.SourcePathArchive)\ArchiveSearch\7z.dll" />
                </Component>
                <Component Id="cmpE8E4B56478D0B41BD48DEFF41E18A4BD" Guid="{9BEFA2CF-4C69-4EE8-80DC-7ADC9EC7BBE7}">
                    <File Id="fil0054CBA81971C73574523367596F1A1A" KeyPath="yes" Source="!(wix.SourcePathArchive)\ArchiveSearch\dnGREP.Engines.Archive.dll" />
                </Component>
                <Component Id="cmp82E1996CD2019A98453AB5EC8C5DF18A" Guid="{2F816000-9C41-4E00-BB95-9C60420D8F16}">
                    <File Id="filA791E86462E84AC92A00C1CB329B54F4" KeyPath="yes" Source="!(wix.SourcePathArchive)\ArchiveSearch\SevenZipSharp.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="dnGREPPluginFilesArchive">
            <ComponentRef Id="cmp5E7189C83C592884CED821C069CA48F5" />
            <ComponentRef Id="cmp076536C5D88900C40C1A61CB5902CCD6" />
            <ComponentRef Id="cmpE8E4B56478D0B41BD48DEFF41E18A4BD" />
            <ComponentRef Id="cmp82E1996CD2019A98453AB5EC8C5DF18A" />
        </ComponentGroup>
    </Fragment>
</Wix>