<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Adding variable -->
  <?include Variables.wxi ?>
  <Product Id="*"
           Name="dnGREP $(var.MajorVersion).$(var.MinorVersion).$(var.BuildVersion) ($(var.Platform))"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="dnGrep Community Contributors"
           UpgradeCode="4CF55558-B642-482E-9FBF-06EA5AEC8276">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- Perform conditional checks -->
    <?include Conditions.wxi ?>

    <!-- Prevent modification/repair -->
    <Property Id="ARPNOREPAIR">1</Property>
    <Property Id="ARPNOMODIFY">1</Property>

    <!-- Properties -->
    <Property Id="INSTALLLEVEL" Value="3" />
    
    <!-- uncomment the next line to write verbose logs to %temp%\MSIxxxxx.LOG -->
    <!--<Property Id="MsiLogging" Value="v" />-->

    <!-- Icon -->
    <Icon Id="nGREP.ico" SourceFile="nGREP.ico"/>
    <Property Id="ARPPRODUCTICON" Value="nGREP.ico" />

    <!-- ========================== UI =============================-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="INSTALL_MODE" Value="Custom" />
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="header.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="intro.bmp" />
    <!-- ===========================================================-->

    <!-- ================== Custom Actions =========================-->
    <!-- Call DCAS Installer -->
    <CustomAction Id="PreventDowngrading" Error="Newer version of dnGREP is already installed." />
    <CustomAction Id="PreventReInstalling" Error="dnGREP version $(var.ProductVersion) is already installed." />
    <CustomAction Id="RunWarmUp" Directory="INSTALLDIR" Execute="deferred" Impersonate="no"
            ExeCommand="&quot;[INSTALLDIR]dnGREP.exe&quot; /warmUp" Return="check"/>
    <!-- ===========================================================-->

    <Upgrade Id="4CF55558-B642-482E-9FBF-06EA5AEC8276">
      <!-- Will prevent reinstalling the same version IF MSI with the same version but different Product ID has been previously installed -->
      <UpgradeVersion OnlyDetect='yes' Property='SELFFOUND'
       Minimum='$(var.ProductVersion)' IncludeMinimum='yes'
        Maximum='$(var.ProductVersion)' IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
        Minimum='$(var.ProductVersion)' IncludeMinimum='no' />
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
        Minimum='0.0.0.0' IncludeMinimum='yes'
        Maximum='$(var.ProductVersion)' IncludeMaximum='no' />
    </Upgrade>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLDIR" Name="dnGREP">
          <Directory Id="PluginsDir" Name="Plugins">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory  Id="ApplicationProgramsFolder" Name="dnGREP"/>
      </Directory>
    </Directory>

    <!-- Create shell integration and add startup acceleration -->
    <DirectoryRef Id="TARGETDIR">
      <Component Id="Accelerator" Guid="A0299472-2679-4187-87E0-2DD4CB5E07AD">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" >
          <RegistryValue Name="dnGREP" Type="string" Value="&quot;[INSTALLDIR]dnGREP.exe&quot; /warmUp"/>
        </RegistryKey>
      </Component>
      <Component Id="ShellIntegration" Guid="8B727769-A7FF-49D9-B685-8DBDA51F81F7">
        <RegistryKey Root="HKCR" Key="Directory\shell\dnGREP" >
          <RegistryValue Name="Icon" Type="expandable" Value="[INSTALLDIR]dnGREP.exe"/>
          <RegistryValue Type="string" Value="dnGREP..."/>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="Directory\shell\dnGREP\command" >
          <RegistryValue Type="expandable" Value="&quot;[INSTALLDIR]dnGREP.exe&quot; &quot;%1&quot;"/>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="Drive\shell\dnGREP" >
          <RegistryValue Name="Icon" Type="expandable" Value="[INSTALLDIR]dnGREP.exe"/>
          <RegistryValue Type="string" Value="dnGREP..."/>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="Drive\shell\dnGREP\command" >
          <RegistryValue Type="expandable" Value="&quot;[INSTALLDIR]dnGREP.exe&quot; &quot;%1&quot;"/>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="*\shell\dnGREP" >
          <RegistryValue Name="Icon" Type="expandable" Value="[INSTALLDIR]dnGREP.exe"/>
          <RegistryValue Type="string" Value="dnGREP..."/>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="*\shell\dnGREP\command" >
          <RegistryValue Type="expandable" Value="&quot;[INSTALLDIR]dnGREP.exe&quot; &quot;%1&quot;"/>
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\Directory\Background\shell\dnGREP" >
          <RegistryValue Name="Icon" Type="expandable" Value="[INSTALLDIR]dnGREP.exe"/>
          <RegistryValue Type="string" Value="dnGREP..."/>
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\Directory\Background\shell\dnGREP\command" >
          <RegistryValue Type="expandable" Value="&quot;[INSTALLDIR]dnGREP.exe&quot; &quot;%V&quot;"/>
        </RegistryKey>
      </Component>
      <Component Id="Dummy" Guid="595484D3-6E27-48F9-BEDE-008518B1029E" Location="local"/>
    </DirectoryRef>

    <!-- Add the shortcut to Program Files -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component  Id="ApplicationShortcut" Guid="78E286ED-5A4A-4F17-AF9E-79DBD8172998">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="dnGREP"
                  Description="dnGREP application"
                  Target="[INSTALLDIR]dnGREP.exe"
                  WorkingDirectory="INSTALLDIR"/>
        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall dnGREP"
                  Description="Uninstalls dnGREP"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>

        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\dnGREP" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="CoreFiles" Title="dnGREP" Display="expand" AllowAdvertise='no' Absent='disallow' Description="Core dnGREP application." Level="1" ConfigurableDirectory="INSTALLDIR">
      <ComponentGroupRef Id="dnGREPAppFiles"/>
      <ComponentRef Id="ApplicationShortcut" />
      <Feature Id="ShellIntegration" Title="Shell integration" AllowAdvertise='no' Absent='allow' Description="Shell integration." Level="2">
        <ComponentRef Id="ShellIntegration"/>
      </Feature>
      <Feature Id="AcceleratedStartup" Title="Accelerated startup" AllowAdvertise='no' Absent='allow' Description="Accelerated startup." Level="2">
        <ComponentRef Id="Accelerator"/>
      </Feature>
      <Feature Id="Plugins" Title="Plugins" Level="2" Display="expand">
        <ComponentRef Id="Dummy"/>
        <Feature Id="PdfPlugin" Title="PDF Search" AllowAdvertise='no' Absent='allow' Description="PDF Search plugin" Level="2">
          <ComponentGroupRef Id="dnGREPPluginFilesPdf"/>
        </Feature>
        <Feature Id="WordPlugin" Title="Word Search" AllowAdvertise='no' Absent='allow' Description="MS Word Search plugin" Level="2">
          <ComponentGroupRef Id="dnGREPPluginFilesWord"/>
        </Feature>
        <Feature Id="ArchivePlugin" Title="Archive Search" AllowAdvertise='no' Absent='allow' Description="Archive Search plugin" Level="2">
          <ComponentGroupRef Id="dnGREPPluginFilesArchive"/>
        </Feature>
        <Feature Id="OpenXmlPlugin" Title="Excel and Word Search" AllowAdvertise='no' Absent='allow' Description="Open XML Search plugin" Level="2">
          <ComponentGroupRef Id="dnGREPPluginFilesOpenXml"/>
        </Feature>
      </Feature>
    </Feature>

    <!-- Sequences -->
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERFOUND</Custom>
      <Custom Action="PreventReInstalling" After="FindRelatedProducts">SELFFOUND</Custom>
      <RemoveExistingProducts After="InstallInitialize"/>
      <Custom Action="RunWarmUp" Before="InstallFinalize">NOT REMOVE</Custom>
      <Custom Action="NetFxExecuteNativeImageCommitInstall" After="NetFxExecuteNativeImageUninstall">0</Custom>
      <Custom Action="NetFxExecuteNativeImageInstall" After="NetFxExecuteNativeImageCommitInstall" />
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="NetFxExecuteNativeImageInstall">Running ngen to optimize the application</ProgressText>
    </UI>
    
    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERFOUND</Custom>
      <Custom Action="PreventReInstalling" After="FindRelatedProducts">SELFFOUND</Custom>
    </InstallUISequence>
  </Product>
</Wix>
